@model AppUserListModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="content d-flex flex-wrap justify-content-between">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Yetkili</strong> Öğrenciler Sayfası</h1>

        <div class="row">
            <div class="d-flex">
                <div class="w-100">
                    <div class="row">

                        <div class="card flex-fill col-12 " style="border-radius: 25px;
																				box-shadow: 0 0 0 4px white, 0 4px 4px black;overflow-y:hidden;">
                            <div class="row">
                                <div class="card-header col-10">
                                    <h5 class="card-title mb-0">Öğrenciler</h5>
                                </div>
                                <div class="yetkili_btn col-2">

                                    <a style="color:white" id="myBtn">
                                        <strong>Yeni Öğrenci Ekle </strong>

                                    </a>
                                </div>
                            </div>

                            <table class="table my-0 text-center">
                                <thead>

                                    <tr>
                                        <th>ID</th>
                                        <th>TC Kimlik</th>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Sınıf</th>
                                        <th>Şube</th>
                                        <th>Telefon</th>
                                        <th>Ekleyen ve tarihi</th>
                                        <th>Değiştiren ve tarihi</th>
                                        <th>Aktiflik durumu</th>
                                        <th>Düzenle veya sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>921412</td>
                                        <td>Ahmet</td>
                                        <td>Çıtak</td>
                                        <td>9</td>
                                        <td>B</td>
                                        <td>05348384</td>
                                        <td>İsim-21/01/2021</td>
                                        <td>İsim-31/06/2021</td>
                                        <td><span class="badge bg-success">Aktif</span></td>
                                        <td>
                                            <a href="../yetkili_islem_düzenle/yetkili_sinif_düzenle.html"><i class="align-middle" data-feather="edit"></i></a>
                                            <a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>12421</td>
                                        <td>Ece</td>
                                        <td>Sah</td>
                                        <td>10</td>
                                        <td>F</td>
                                        <td>0214384</td>
                                        <td>İsim-21/01/2021</td>
                                        <td>İsim-31/06/2021</td>
                                        <td><span class="badge bg-success">Aktif</span></td>
                                        <td>
                                            <a href="../yetkili_islem_düzenle/yetkili_sinif_düzenle.html"><i class="align-middle" data-feather="edit"></i></a>
                                            <a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div id="myModal" class="modal">
            <div class="medium-modal" id="modal-content1">
                <span class="close">&times;</span>
                <h2 class="modal-title text-center"><strong> Öğrenci Ekle</strong></h2>
                <form>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">İsmi</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" type="text" placeholder="Örneğin:Ahmet">
                        </div>
                    </div>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Soyİsmi</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" type="text" placeholder="Örneğin:Yılmaz">
                        </div>
                    </div>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Tc Kimlik</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <label for="tc" class="col-sm-3 col-form-label">Telefon</label>
                        <div class="col-sm-9">
                            <input class="answer-place" type="text">
                        </div>

                    </div>
                    <div class="row">
                        <label for="Ders" class="col-sm-3 col-form-label">Sınıf</label>
                        <div class="col-sm-9">
                            <select class="answer-place">
                                <option value="">9</option>
                                <option value="">10</option>
                                <option value="">11</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="Ders" class="col-sm-3 col-form-label">Şube</label>
                        <div class="col-sm-9">
                            <select class="answer-place">
                                <option value="">A</option>
                                <option value="">B</option>
                            </select>
                        </div>
                    </div>
                </form>
                <button id="upper" class="upper_btn">
                    <strong>İleri </strong>
                </button>

            </div>
            <div class="modal-content2" id="modal-content2">
                <span class="close"></span>
                <h2 class="modal-title text-center"><strong> Öğrenci Veli Ekle</strong></h2>
                <form>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Veli İsmi</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" type="text" placeholder="Örneğin:Ahmet">
                        </div>
                    </div>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Veli Soyİsmi</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" type="text" placeholder="Örneğin:Yılmaz">
                        </div>
                    </div>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Veli Tc Kimlik</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <label for="tc" class="col-sm-3 col-form-label">Veli Telefon</label>
                        <div class="col-sm-9">
                            <input class="answer-place" type="text">
                        </div>

                    </div>
                    <div class="row">
                        <label for="tc" class="col-sm-3 col-form-label">Veli Telefon 2</label>
                        <div class="col-sm-9">
                            <input class="answer-place" type="text">
                        </div>

                    </div>

                </form>
                <div class="row">
                    <div class="col-9">
                        <button class="lower_btn" id="lower_btn">
                            <strong>Geri Dön</strong>
                        </button>
                    </div>
                    <div class="col-3">
                        <button id="cls_btn">
                            <strong>Kaydet</strong>
                        </button>

                    </div>
                </div>

            </div>
        </div>

    </div>
</main>
