@model ResetPasswordModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content=" &amp; ">
	<meta name="" content="">
	<meta name="" content="">
	<link rel="shortcut icon" href="/Template/assets/meta_logo_2.png" />

	<link rel="canonical" href="" />

	<title>EKYS - Şifre Yenile</title>

	<link href="/Template/assets/app.css" rel="stylesheet">
	<link rel="stylesheet" href="/Template/assets/css/custom.css">
</head>


<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Email" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input type="hidden" name="Token" value="@Model.Token" class="form-control" />

                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" value="@Model.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" asp-for="Password"></label>
                <div class="col-md-10">
                    <input asp-for="Password" value="@Model.Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label"></label>
                <div class="col-md-10 offset-md-2">
                    <button type="submit" value="" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
    </div>


