@model WebUI.Models.SubjectModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-3"><strong>Yetkili</strong> konu düzenleme sayfası</h1>

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Konu</strong> Düzenleme Sayfası</h1>
        <div class="row">
            <div class="edit-table text-center">

                <div class="form-group row d-flex">
                    <label for="name" class="col-sm-3 col-form-label">İsmi</label>
                    <div class="col-sm-9">
                        <input class="form-dropdown text-center" type="text" placeholder="Örneğin:Üslü Sayılar">
                    </div>

                    <label for="Ders" class="col-sm-3 col-form-label">Ders</label>
                    <div class="col-sm-9">
                        <select class="form-dropdown">
                            <option value="">Matematik</option>
                            <option value="">Coğrafya</option>
                        </select>
                    </div>
                    <label for="Ders" class="col-sm-3 col-form-label">Durum</label>
                    <div class="col-sm-9">
                        <select class="form-dropdown">
                            <option value="">Aktif</option>
                            <option value="">Pasif</option>

                        </select>
                    </div>

                </div>
                <button id="cls_btn" class="upper_btn ">
                    <strong>Kaydet </strong><br>
                </button>
            </div>
        </div>
    </div>
    </div>
</main>

