@model CartModel
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="text-center"><h1><strong>Sınav Sonuçlarım</strong></h1></div>
<main class="content d-flex justify-content-between flex-wrap">
    @if (Model!=null)
    {
        @foreach (var item in Model.CartItems)
        {
			<div class="student-exam-result-content">
				<div class="row">
					<div class="col-8">
						<div class="student-exam-result-content-title col-12 ">
							<h4><strong>@item.Name</strong></h4>
						</div>
						<div class="student-exam-result-content-info  col-12">
							<strong>Ders:</strong>@item.LessonName
						</div>
						<div class="student-exam-result-content-info  col-12">
							<strong>Konu:</strong>@item.SubjectName
						</div>
						<div class="student-exam-result-content-score col-12 ">
							<strong>Puan:</strong>95
						</div>

					</div>
					<div class="col-4">
						<a id="myBtn" class="custom-card-icon-container">
							<i class="bi bi-eye-fill"></i>
						</a>
						<div class="student-exam-result-content-question-link-container col-8">
							<a class="student-exam-result-content-question-link" href="/ExamResult/ResultQuestions/@item.ExamId">
								<strong>Sorular</strong>
							</a>
							<a class="student-exam-result-content-question-link" href="/CalculateExamScors/AllUsersResultQuestions/@item.ExamId">
								<strong>Tüm sonuçlar</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
        }
    }

	<div class="popup">
		<div id="myModal" class="modal">
			<div class="modal-content" id="modal-content1">
				<span class="close">&times;</span>
				<h4 class="modal-title text-center"><strong> Sınav Sonucu Detayı</strong></h4>
				<div class="row">
					<div class=" analyc col-md-5">

						<h4><strong>Sınav Adı:</strong>Matematik-1</h4>
						<h4><strong>Puan:</strong>70</h4>
						<h4><strong>Sınıf Sıralamanız:</strong>4</h4>
						<h4><strong>Genel Sıralamanız:</strong>16</h4>


					</div>
					<div class="col-md-7">
						<canvas height="100px" id="myChart"></canvas>
					</div>
				</div>
				<div class="row">
					<div class="title">
						<h3><strong> Ders Bazlı Başarı Tablosu</strong></h3>

					</div>
					<table>
						<tr>
							<th> Ders Adı</th>
							<th> Doğru</th>
							<th> Yanlış</th>
							<th> Boş</th>
							<th> Başarı Oranı</th>
							<th>Sınıf Başarı Oranı</th>
						</tr>
						<tr>
							<td>Matematik</td>
							<td>16</td>
							<td>4</td>
							<td>0</td>
							<td>%80</td>
							<td>%70</td>
						</tr>
						<tr>
							<td>Türkçe</td>
							<td>16</td>
							<td>4</td>
							<td>0</td>
							<td>%80</td>
							<td>%65</td>
						</tr>
						<tr>
							<td>Coğrafya</td>
							<td>14</td>
							<td>4</td>
							<td>2</td>
							<td>%70</td>
							<td>%80</td>
						</tr>
						<tr>
							<td>Tarih</td>
							<td>20</td>
							<td>0</td>
							<td>0</td>
							<td>%100</td>
							<td>%90</td>
						</tr>

					</table>


				</div>
				<button id="upper" class="upper_btn">
					<strong>İlerle </strong>
				</button>

			</div>
			<div class="modal-content2" id="modal-content2">
				<span class="close">&times;</span>
				<h4 class="modal-title text-center"><strong> Ders Bazlı Sonuç Ekranı</strong></h4>
				<div class="row">
					<div class="col-5">
						<span><strong> Ders</strong></span>
						<select class="form-dropdown" name="" id="">
							<option value="">Matematik</option>
							<option value="">Türkçe</option>
							<option value="">Coğrafya</option>
						</select>


					</div>
					<div class="col-7">
						<table class="col-12">
							<tr>
								<th>Doğru Sayısı</th>
								<th>Yanlış Sayısı</th>
								<th>Boş Sayısı</th>
								<th>Başarı Oranı</th>
							</tr>
							<tr>
								<td>18</td>
								<td>2</td>
								<td>0</td>
								<td>%90</td>
							</tr>


						</table>
					</div>
					<div class="row">
						<div class="title">
							<h4><strong>Konu Bazlı Analiz</strong> </h4>
						</div>
						<div class="subject-Analyc ">
							<table class=col-12>
								<tr>
									<th scope="col">Konu Adı</th>
									<th scope="col">Soru Sayısı</th>
									<th scope="col">Doğru Sayısı</th>
									<th scope="col">Yanlış Sayısı</th>
									<th scope="col">Boş Sayısı</th>
									<th scope="col">Başarı Oranı</th>

								</tr>
								<tr>
									<td scope="col">Üslü Sayılar</td>
									<td scope="col">6</td>
									<td scope="col">4</td>
									<td scope="col">2</td>
									<td scope="col">0</td>
									<td scope="col">75%</td>

								</tr>
								<tr>
									<td>Köklü Sayılar</td>
									<td>6</td>
									<td>4</td>
									<td>2</td>
									<td>0</td>
									<td>75%</td>

								</tr>
								<tr>
									<td>Geometrik Şekillerde</td>
									<td>6</td>
									<td>4</td>
									<td>2</td>
									<td>0</td>
									<td>75%</td>

								</tr>
								<tr>
									<td>Trigonometri</td>
									<td>6</td>
									<td>4</td>
									<td>2</td>
									<td>0</td>
									<td>75%</td>

								</tr>
							</table>
						</div>

					</div>
					<div class="row">
						<div class="col-9">
							<button class="lower_btn" id="lower_btn">
								<strong>Geri Dön</strong>
							</button>
						</div>
						<div class="col-3">
							<button id="cls_btn">
								<strong>Kapat</strong>
							</button>

						</div>
					</div>



				</div>

			</div>

		</div>
	</div>
</main>

