@model ClassListModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Yetkili</strong> Sınıflar Sayfası</h1>

        <div class="row">
            <div class="d-flex">
                <div class="w-100">
                    <div class="row">

                        <div class="card flex-fill col-12 " style="border-radius: 25px;
																				box-shadow: 0 0 0 4px white, 0 4px 4px black;overflow-y:hidden;">
                            <div class="row">
                                <div class="card-header col-10">
                                    <h5 class="card-title mb-0">Sınıflar</h5>
                                </div>
                                <div class="yetkili_btn col-2">

                                    <a style="color:white" id="myBtn">
                                        <strong>Yeni Sınıf Ekle </strong>

                                    </a>
                                </div>
                            </div>

                            <table class="table my-0 text-center">
                                <thead>

                                    <tr>
                                        <th>ID</th>
                                        <th>Sınıf</th>
                                        <th>Ekleyen ve tarihi</th>
                                        <th>Değiştiren ve tarihi</th>
                                        <th>Aktiflik durumu</th>
                                        <th>Düzenle veya sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Classes)
                                    {
                                        <tr>
                                            <td class="d-none d-md-table-cell">@item.Id</td>
                                            <td>@item.Name</td>
                                            <td class="d-none d-md-table-cell">Ayşe-@item.CreatedDate</td>
                                            <td class="d-none d-md-table-cell">Sefa-@item.UpdatedDate</td>
                                            @if (item.Condition == true)
                                            {
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge bg-danger">Pasif</span></td>
                                            }

                                            <td>
                                                <a href="/Class/Detail/@item.Id"><button class="btn"><i data-feather="edit" style="color:royalblue"></i></button></a>

                                                <form asp-controller="Class" asp-action="Delete" method="post" style="display:inline" id="myForm" onsubmit="sendForm(event)">
                                                    <input type="hidden" name="Id" value="@item.Id" />
                                                    <button class="btn" type="submit" style="" onclick="DisplayAlert()">
                                                        <i data-feather="trash-2" style="color: red;"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div id="myModal" class="modal">
            <div class="col-sm-12 ">
                <div class="modal-content " id="small-modal">
                    <div class="row d-flex">
                        <div class="col-10">
                            <h3 class="modal-title col-10"><strong> Sınıf Ekle</strong></h3>
                        </div>
                        <div class="col-2">
                            <span class="close">&times;</span>
                        </div>


                    </div>

                    <form asp-controller="Class" asp-action="Create" method="post">
                        <div class="row text-center mt-5 ">
                            <div class="col-12 text-center ">
                                <div class="form-group row d-flex">
                                    <label name="Name" class="col-sm-2 col-form-label">Sınıf Adı</label>

                                    <div class="col-sm-10">
                                        <input name="Name" placeholder="Örneğin:Matematik" class="form-dropdown text-center">
                                    </div>
                                    <label for="Ders" class="col-sm-2 col-form-label">Durum</label>
                                    <div class="col-sm-10">
                                        <select class="form-dropdown" name="condition">
                                            <option value="True">Aktif</option>
                                            <option value="False">Pasif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <td>
                            <button type="submit" id="cls_btn" class="rapor_button">
                                <strong>Kaydet </strong>
                            </button><br>
                        </td>
                    </form>
                </div>
            </div>

        </div>
    </div>

</main>



