<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="&amp";>
	<meta name="author" content="">
	<meta name="keywords" content="">

	<link rel="shortcut icon" href="../../assets/meta_logo_2.png" />

	<link rel="canonical" href="" />

	<title>Sorular</title>

	<link href="../../assets/app.css" rel="stylesheet">
</head>

<body>
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Yetkili</strong> soru düzenleme sayfası</h1>

					<div class="row">
						<div class="d-flex">
							<div class="col-md-7">
								<div class="row">
									<div class="card flex-fill col-sm-2">
								<div class="card-header">
									<h5 class="card-title mb-0">Soru özelliğini düzenle</h5>
								</div>
								<table class="table my-0 text-center">
									<thead>
										<tr>
											<th>Türü</th>
											<th>Düzenle</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Soru</td>
											<td><input type="text" placeholder="Örnek soru textidir. Soru texti burada gözükecek uzun metin ise böyle gözükebilir." class="form-control text-center"></input></td>
										</tr>
										<tr>
											<td>Resim</td>
											<td><input type="text" placeholder="Soru resmi burada ekleyerek değiştirilebilecek" class="form-control text-center"></input></td>
										</tr>
										<tr>
											<td>Konu</td>
											<td><input type="text" placeholder="konu burada dropdown ile seçilecek" class="form-control text-center"></input></td>
										</tr>
										<tr>
											<td>Çıktı</td>
											<td><input type="text" placeholder="Çıktı burada dropdown ile seçilebilecek" class="form-control text-center"></input></td>
										</tr>
										<tr>
											<td>Aktiflik durumu</td>
											<td><a><span class="badge bg-success">Aktif</span></a></td>
										</tr>
									</tbody>
								</table>
								<a class="btn btn-sm btn-primary m-4">Kaydet</a>
							</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script src="../assets/app.js"></script>

</body>

</html>