@{
    ViewData["Title"] = "Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="main" style="background-color: #E9F2FF;">
        <main class="content" style="background-color: #E9F2FF;">
            <div class="row">
                <div class="col-10">
                    <h3><strong>Matematik Sınavı</strong></h3>
                </div>
                <div class="question-time col-2">
                    <h4><strong>Kalan Zaman:</strong>02:22 </h4>
                </div>
            </div>
            <div class="container-fluid p-0 ">
                <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div id="studentExam" class="studentExamPageContainer">


                                <div id="studentExamContent" class="student-exam-page-contents">
                                    <div class="student-exam-page-question-title">
                                        <strong>1.Soru</strong>
                                    </div>
                                    <div class="student-exam-page-question-content">
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                    </div>
                                    <div class="student-exam-page-answers">
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 32</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 43</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 23</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 36</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 42</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="carousel-item">
                            <div id="studentExam" class="studentExamPageContainer">

                                <div id="studentExamContent" class="student-exam-page-contents">
                                    <div class="student-exam-page-question-title">
                                        <strong>1.Soru</strong>
                                    </div>
                                    <div class="student-exam-page-question-content">
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                    </div>
                                    <div class="student-exam-page-answers">
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 32</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 43</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 23</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 36</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 42</span>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div id="studentExam" class="studentExamPageContainer">


                                <div id="studentExamContent" class="student-exam-page-contents">
                                    <div class="student-exam-page-question-title">
                                        <strong>1.Soru</strong>
                                    </div>
                                    <div class="student-exam-page-question-content">
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                        Bir inşaat firması Erzurum’daki bir fabrikadan 50 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç paketi
                                        12 liradan, Rize’deki bir fabrikadan ise 25 kilogramlık paketler hâlinde satılan çimentoyu nakliye hariç 7 liradan satın
                                        alabilmektedir.
                                        İnşaat firmasının alacağı çimentoyu şantiyesine getirmek için Erzurum’dan alması durumunda 1200 TL, Rize’den alması durumunda ise 700 TL nakliye ücreti ödemesi gerekmektedir.
                                        Bu fiyatlara göre inşaat firması almayı düşündüğü çimento miktarı için toplam ödeyeceği ücretin iki fabrikadan da alması durumunda aynı olacağını hesaplıyor.
                                    </div>
                                    <div class="student-exam-page-answers">
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 32</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 43</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 23</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 36</span>
                                        <span><input type="radio" class="answer-radio"><strong> </strong> 42</span>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>
                <div class="student-exam-page-question-number-container">
                    <a class="carousel-control-prev" style=" margin-top:2%;position: relative; top: 1%; width:15%;height:36px;background-image: linear-gradient(#A26BBD, #4C8BCD);" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <button style="margin-top:2%;width:15%;height:36px; margin-left:25%" class="rapor_button ">Sınavı Bitir</button>
                    <a class="carousel-control-next" style="margin-left:25%; margin-top:2%;position: relative; top: 1%; width:15%;height:36px;background-image: linear-gradient(#A26BBD, #4C8BCD);" href="#carouselExampleIndicators" href="#carouselExampleIndicators" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"><strong></strong></span>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>



