
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Yetkili</strong> Derece Sayfası</h1>

		<div class="row">
			<div class="d-flex">
				<div class="w-100">
					<div class="row">

						<div class="card flex-fill col-sm-9" style="border-radius: 25px;
																				box-shadow: 0 0 0 4px white, 0 4px 4px black;">
							<div class="card-header">
								<h5 class="card-title mb-0">Dereceler</h5>
							</div>
							<table class="table my-0 text-center">
								<thead>

									<button id="myBtn" class="rapor_button" style="position:relative;left:86%; width:10%;overflow: hidden;">
										<strong style="width:50%;">Yeni Derece Ekle </strong>

									</button>
									<tr>
										<th class="d-none d-md-table-cell">ID</th>
										<th>Sınıf</th>
										<th class="d-none d-md-table-cell">Ekleyen ve tarihi</th>
										<th class="d-none d-md-table-cell">Değiştiren ve tarihi</th>
										<th>Aktiflik durumu</th>
										<th>Düzenle veya sil</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="d-none d-md-table-cell">1</td>
										<td>9</td>
										<td class="d-none d-md-table-cell">İsim-21/01/2021</td>
										<td class="d-none d-md-table-cell">İsim-31/06/2021</td>
										<td><span class="badge bg-success">Aktif</span></td>
										<td>
											<a href="../yetkili_islem_düzenle/yetkili_sinif_düzenle.html"><i class="align-middle" data-feather="edit"></i></a>
											<a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
										</td>
									</tr>
									<tr>
										<td class="d-none d-md-table-cell">2</td>
										<td>10</td>
										<td class="d-none d-md-table-cell">İsim-01/01/2021</td>
										<td class="d-none d-md-table-cell">İsim-31/06/2021</td>
										<td><span class="badge bg-danger">Pasif</span></td>
										<td>
											<a href="../yetkili_islem_düzenle/yetkili_sinif_düzenle.html"><i class="align-middle" data-feather="edit"></i></a>
											<a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup">
		<div id="myModal" class="modal">
			<div id="small-modal" class="modal-content">
				<span class="close">&times;</span>
				<h2 class="modal-title text-center"><strong> Seviye Ekle</strong></h2>
				<form>

					<div class="row text-center mt-5 ">
						<div class="col-12 text-center ">
							<div class="form-group row d-flex">
								<label for="Ders" class="col-sm-2 col-form-label">Seviye Adı</label>

								<div class="col-sm-10">
									<input placeholder="Örneğin:Kolay" class="form-dropdown" />
								</div>
								<label for="Ders" class="col-sm-2 col-form-label">Durum</label>
								<div class="col-sm-10">
									<select class="form-dropdown">
										<option value="">Aktif</option>
										<option value="">Pasif</option>

									</select>
								</div>
							</div>
						</div>
					</div>
				</form>
				<td>
					<button id="cls_btn" class="rapor_button">
						<strong>Kaydet </strong>
					</button><br>
				</td>
			</div>

		</div>
	</div>
</main>

