
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="content d-flex flex-wrap justify-content-between">


	<div class="custom-cards-container flex-2  container-sm ">
		<div class="custom-cards-container-title">Raporlar</div>
		<div class="custom-cards d-flex justify-content-between flex-wrap">
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a asp-controller="Exam" asp-action="Exam" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="custom-cards d-flex justify-content-between flex-wrap">
				<div class="custom-card custom-left-border d-flex justify-content-between flex-column custom-shadow">
					<div class="custom-card-top">
						<div class="custom-card-title">Deneme Sınavı - 1</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">Tarih : </span>
							16.02.2023
						</div>
						<div class="custom-card-info">
							<span class="custom-card-info-title">İçerik : </span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, voluptatem.
						</div>
					</div>
					<div class="custom-card-bottom">
						<div class="custom-card-buttons d-flex justify-content-between">
							<div>
								<a href="#" class="custom-card-button linear-background">
									İncele <i class="bi bi-chevron-right custom-card-icons"></i>
								</a>
							</div>
							<div>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-star-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-eye-fill"></i>
								</a>
								<a href="#" class="custom-card-icon-container">
									<i class="bi bi-share-fill"></i>
								</a>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>

	<div class="custom-cards-container ">
		<div class="custom-cards-container-title">İstatistikler</div>
		<div class="custom-cards-2 d-flex flex-column align-items-center custom-shadow">
			<div class="custom-card-2">
				<div class="custom-card-2-title">Haftalık Analizler</div>
				<div class="custom-card-2-content">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Corporis, maxime. Asperiores possimus accusamus pariatur, blanditiis sint enim
					voluptates voluptatibus minima!<a href="#" class="custom-card-2-button">İncele</a>
				</div>
			</div>
			<div class="custom-card-2">
				<div class="custom-card-2-title">Aylık Analizler</div>
				<div class="custom-card-2-content">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Corporis, maxime. Asperiores possimus accusamus pariatur, blanditiis sint enim
					voluptates voluptatibus minima!<a href="#" class="custom-card-2-button">İncele</a>
				</div>
			</div>
			<div class="custom-card-2">
				<div class="custom-card-2-title">Yıllık Analizler</div>
				<div class="custom-card-2-content">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Corporis, maxime. Asperiores possimus accusamus pariatur, blanditiis sint enim
					voluptates voluptatibus minima!<a href="#" class="custom-card-2-button">İncele</a>
				</div>
			</div>
			<div class="custom-card-2">
				<div class="custom-card-2-title">Sınav Bazlı Analizler</div>
				<div class="custom-card-2-content">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Corporis, maxime. Asperiores possimus accusamus pariatur, blanditiis sint enim
					voluptates voluptatibus minima!<a href="#" class="custom-card-2-button">İncele</a>
				</div>
			</div>
			<div class="custom-card-2">
				<div class="custom-card-2-title">Başarılı Dersler</div>
				<div class="custom-card-2-content">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Corporis, maxime. Asperiores possimus accusamus pariatur, blanditiis sint enim
					voluptates voluptatibus minima!<a href="#" class="custom-card-2-button">İncele</a>
				</div>
			</div>
			<div class="custom-card-2">
				<div class="custom-card-2-title">Başarılı Öğrenciler</div>
				<div class="custom-card-2-content">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Corporis, maxime. Asperiores possimus accusamus pariatur, blanditiis sint enim
					voluptates voluptatibus minima!<a href="#" class="custom-card-2-button">İncele</a>
				</div>
			</div>
		</div>
	</div>
</main>

